{% extends 'Main/base.html' %}
{% load static %}
{% block title %}Address{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3><span class="text-capitalize head">{{request.user}}</span></h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn">添加信息</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn cart {{active}}">收货地址</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <div class="row">
   {% for ad in add   %}
    <div class="col-sm-6">
     <div class="card">
      <div class="card-body">
       <h3 class="head">地址 {{forloop.counter}}</h3>
       <p>姓名: {{ad.name}}</p>
       <p>所在地: {{ad.locality}}</p>
       <p>所在城市: {{ad.city}}</p>
       <p>省份: {{ad.state}}</p>
       <p>邮编: {{ad.zipcode}}</p>
      </div>
     </div>
    </div>
    {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}