{% if kinds %}
    {% for k in kinds %}
<li class="nav-item dropdown">
  <!-- 一级菜单-->
    <a
    class="nav-link dropdown-toggle text-black drp"
    href="#"
    id="{{ k.MainKind.KID }}"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    {{ k.MainKind.Name }}
  </a>
    <!--二级菜单-->
  <ul class="dropdown-menu" aria-labelledby="{{ k.MainKind.KID }}">
        {% for s in k.SubKind %}
      <li>
      <a class="dropdown-item" href="{% url 'skind' k.MainKind.KID s.KID %}"
        >{{ s.Name }}</a>
    </li>
        {% endfor %}
  </ul>
</li>
    {% endfor %}
{% endif %}